/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require select2
 *= require_tree .
 *= require_self
 */

.btn{
  margin-top: 10px;
}

#page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;
}
  
#page-auth aside {
  flex: 7;  
  background: #835afd;  
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 80px;
  margin-bottom: 120px;
}

#page-auth img {
  max-width: 320px;
}

#page-auth strong {
  font: 700  36px 'Poppins', sans-serif;
  line-height: 42px;
  margin-top: 16px;
}

#page-auth p{
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
  color: #f8f8f8;
}

#page-auth main {
  flex: 3;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;  
}
